@code {

    [Parameter] public TimelineModel[]? Data { get; set; }
    [Parameter] public bool StartAtRight { get; set; }
    [Parameter] public bool Reverse { get; set; }
    [Parameter] public int SkeletonAmount { get; set; }

    private int _count;

}

<div class="timeline">
    <div class="timeline__container">
        @if (Data is null)
        {
            for (var x = 0; x < (SkeletonAmount < 1 ? 3 : SkeletonAmount); x++)
            {
                <Timeline_Item Count="x" StartAtRight="StartAtRight"></Timeline_Item>
            }
        }
        else
        {
            foreach (var item in Reverse ? Data.Reverse() : Data)
            {
                <Timeline_Item Count="_count" Item="item" StartAtRight="StartAtRight"></Timeline_Item>
                _count++;
            }

            _count = 0;
        }
    </div>
</div>