@code {

    [Parameter] public TimelineModel? Item { get; set; }

}

<div class="timeline__container__item__event__top">
    <p class="timeline__container__item__event__top__title">@Item!.Name</p>
    <p class="timeline__container__item__event__top__time">@(Item.StartTime == Item.EndTime ? Item.StartTime : $"{Item.StartTime} → {Item.EndTime}")</p>
</div>
<div class="timeline__container__item__event__bottom">
    <p class="timeline__container__item__event__bottom__description">@Item.Description</p>
</div>