<div class="timeline__container__item__marker">
    @if (Item is not null)
    {
        <p class="timeline__container__item__marker__time">@(Item.StartTime == Item.EndTime ? Item.StartTime : $"{Item.StartTime} → {Item.EndTime}")</p>
    }
</div>

@code {

    [Parameter] public TimelineModel? Item { get; set; }

}