@use "../base" as *;


.timeline {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 1rem;

    &__container {
        width: 100%;
        max-width: 1200px;
    }
}


.timeline__container__item {
    $breakpoint: 800px;
    $width: 500px;
    $height: 150px;

    @keyframes loading {
        from {
            background-position: -$width 0;
        }
        to {
            background-position: $width 0;
        }
    }

    display: grid;
    grid-template-columns: 1fr 51px 1fr;


    &__event {
        width: 100%;
        max-width: $width;

        background-color: var(--text5);
        border-radius: 10px;

        &:first-child {
            margin-left: auto;
        }

        &:empty {
            width: $width;
            height: $height;

            background: linear-gradient(90deg, #0000, var(--text5), #0000) no-repeat, var(--text5);
            animation: loading 1.5s infinite;
        }
    }

    &__divider {
        width: 3px;
        height: 100%;
        background-color: var(--primary50);
        margin-inline: auto;
        position: relative;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            translate: -6px -50%;

            width: 15px;
            height: 15px;

            border-radius: 100%;
            background-color: var(--primary50);
        }

        &::before {
            background-color: var(--bg);
        }
    }

    @media screen and (width <= $breakpoint) {
        display: flex;
        margin-bottom: .75rem;

        &__divider,
        &__spacer {
            display: none;
        }

        &__event {
            flex: 1;
            width: 100%;
            max-width: 100%;
        }
    }
}

.timeline__container__item:first-child .timeline__container__item__divider {
    background: linear-gradient(#0000 50%, var(--primary50) 50%);
}

.timeline__container__item:last-child .timeline__container__item__divider {
    background: linear-gradient(var(--primary50) 50%, #0000 50%);
}

.timeline__container__item:first-child:last-child .timeline__container__item__divider {
    background: linear-gradient(#0000 50%, #0000 50%);
}


.timeline__container__item__event {
    padding: .5rem 1rem .75rem;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: .75rem;
        margin-bottom: 1rem;

        &__title {
            font-size: $h5;
        }

        &__time {
            color: var(--text85);
        }
    }
}