#app {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    
    .page {
        flex: 1;

        main {
            display: grid;
            padding-block: 1.5em 5em;
            overflow-x: hidden;
            
            &:focus {
                outline: none;
            }
        }
    }
}