@page "/"

<PageTitle>Home</PageTitle>

<div class="information">
    <p class="title">This website is currently under construction</p>
    <p class="heading">
        Visit
        <a href="https://old.kimlukas.com/">old.kimlukas.com</a>
        for old website
    </p>
</div>

<div id="hero">
    <Bio></Bio>
</div>