@page "/"
@page "/Home"

<PageTitle>Home</PageTitle>

@* <div class="information information_popup"> *@
@*     <p class="heading">This website is currently under construction</p> *@
@*     <p class="text"> *@
@*         Visit *@
@*         <a href="https://old.kimlukas.com/">old.kimlukas.com</a> *@
@*         for old website *@
@*     </p> *@
@* </div> *@

<div id="hero">
    <Bio></Bio>
</div>

<div id="coding_languages">
    <CodingLanguages></CodingLanguages>
</div>