@inject IJSRuntime JsRuntime

<div class="bio" @onmousemove="MouseMoved" style="@_mousePosStyling">
    <div class="bio__wrapper">
        <div class="bio__container">
            <div class="bio__container__image">
                <img src="Assets/Images/Persons/kimlukas300x300.webp" alt="An image of me with a gray hoodie on, with a gray background.">
            </div>
            <Bio_AboutMe></Bio_AboutMe>
            <Bio_Info Show="@(new[] { "born", "location", "mail", "phone", "github" })"></Bio_Info>
        </div>
    </div>
</div>

@code {

    private int Age { get; set; }

    protected override Task OnInitializedAsync()
    {
        var today = DateTime.Now.ToString("yyyyMMdd");
        var birth = new DateTime(2006, 5, 21).ToString("yyyyMMdd");
        Age = (int.Parse(today) - int.Parse(birth)) / 10000;
        return Task.CompletedTask;
    }

    private string? _mousePosStyling = "--mousePosX: -2000px; --mousePosY: -2000px";

    private void MouseMoved(MouseEventArgs e)
    {
        _mousePosStyling = $"--mousePosX: {e.ClientX}px; --mousePosY: {e.ClientY}px";
    }

}